.headings, #about h2, #about h3, #advisors h2, #investors h2 {
  font-weight: bold;
  font-size: 40px; }

.responsive {
  width: 100%;
  height: auto; }

#header {
  width: 100%;
  margin: auto auto;
  background: url(../img/bg1.jpg);
  -webkit-background-size: fixed;
  -moz-background-size: fixed;
  -o-background-size: fixed;
  background-size: fixed;
  padding: 50px 0px 50px 0px; }
  #header button {
    background: url(../img/button.png) no-repeat;
    padding: 11px 58px 11px 58px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    float: right;
    margin-bottom: 300px; }
    #header button a {
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-decoration: none;
      letter-spacing: 1px; }
  #header h1 {
    font-weight: bold;
    font-size: 50px;
    color: white; }
  #header img {
    width: 75%;
    height: auto;
    margin-bottom: 285px; }
  #header p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center; }
  #header .fafa {
    width: 100%;
    text-align: center; }
    #header .fafa i {
      color: white; }

@media (max-width: 1366px) {
  #header button {
    padding: 14px 64px 15px 64px;
    margin-right: 20px;
    margin: 0px 20px 170px auto;
    display: block; }
    #header button a {
      font-size: 15px; }
  #header img {
    display: block;
    margin: 0px 0px 160px 0px; } }

@media (max-width: 768px) {
  #header button {
    padding: 14px 64px 15px 64px;
    margin-right: 20px;
    margin: 0px 20px 60px auto;
    display: block; }
    #header button a {
      font-size: 15px; }
  #header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white; }
  #header img {
    display: block;
    margin: 0px auto 20px auto; } }

#about {
  background-color: whitesmoke;
  padding: 50px 0px 0px 0px; }
  #about h2 {
    color: #2E556F;
    margin-bottom: 170px; }
  #about h3 {
    color: #2E556F;
    margin-bottom: 50px; }
  #about p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px; }
  #about img {
    margin: 17px; }
  #about .about-fl {
    position: absolute;
    top: 123%;
    right: 7%; }

@media (max-width: 1366px) {
  .about-fl {
    display: none; } }

@media (max-width: 1000px) {
  #about {
    text-align: center; }
    #about h2 {
      font-size: 30px;
      margin-bottom: 70px; }
    #about h3 {
      font-size: 30px;
      margin-bottom: 20px; }
    #about p {
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 15px; }
    #about img {
      display: none; } }

#advisors {
  background-color: whitesmoke;
  padding: 50px 0px 0px 0px; }
  #advisors .row {
    margin-bottom: 30px; }
  #advisors h2 {
    color: #2E556F;
    margin-bottom: 80px; }
  #advisors img {
    border-radius: 50%; }
  #advisors h5 {
    font-size: 40px;
    color: #00B9B9; }
  #advisors ul {
    padding-left: 20px; }
    #advisors ul li {
      padding: 4px 0px 4px 0px;
      font-size: 17px; }
  #advisors .adv-bot {
    text-align: right; }
    #advisors .adv-bot h2 {
      margin-top: 18%; }

@media (max-width: 1200px) {
  #advisors {
    text-align: center; }
    #advisors h2 {
      font-size: 30px; }
    #advisors h5 {
      font-size: 30px; }
    #advisors li {
      list-style-type: none; }
    #advisors .adv-bot {
      text-align: center; } }

#investors {
  background: url(../img/bg3.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0px 90px 0px; }
  #investors h2 {
    color: white;
    margin-bottom: 120px; }
  #investors p {
    font-size: 30px;
    color: #00B9B9; }
  #investors img {
    margin-bottom: 40px; }

@media (max-width: 768px) {
  #investors {
    text-align: center; }
    #investors h2 {
      font-size: 30px;
      margin-bottom: 60px; } }

#copyright {
  padding: 20px 0px 20px 0px;
  text-align: center;
  background-color: #00B9B9; }
  #copyright p {
    letter-spacing: 1px;
    font-size: 15px;
    color: white;
    margin-bottom: 0px; }

@media (max-width: 768px) {
  #copyright {
    padding: 10px 0px 10px 0px; }
    #copyright p {
      font-size: 10px; } }
