.line, #about hr, #portfolio hr, #advisors hr, #investors hr {
  position: absolute;
  margin-top: 80px;
  height: 4px;
  color: #00B9B9;
  background-color: #00B9B9; }

.headings, #about h2, #about h3, #portfolio h2, #advisors h2, #investors h2 {
  font-weight: bold;
  font-size: 40px; }

.responsive {
  width: 100%;
  height: auto; }

.textp, #portfolio p {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px; }

#header {
  width: 100%;
  margin: auto auto;
  background: url(../img/bg1.jpg);
  -webkit-background-size: fixed;
  -moz-background-size: fixed;
  -o-background-size: fixed;
  background-size: fixed;
  padding: 50px 0px 50px 0px; }
  #header button {
    background: url(../img/button.png) no-repeat;
    padding: 9px 56px 9px 55px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    float: right;
    margin-bottom: 300px;
    border: 1.5px solid #00B9B9; }
    #header button a {
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-decoration: none;
      letter-spacing: 1px; }
    #header button:hover {
      background: #00B9B9;
      -webkit-transition: 1.5s ease;
      -o-transition: 1.5s ease;
      transition: 1.5s ease; }
  #header h1 {
    font-weight: bold;
    font-size: 50px;
    color: white; }
  #header img {
    width: 75%;
    height: auto;
    margin-bottom: 285px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: -webkit-transform .8s ease-in-out;
    -o-transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out; }
    #header img:hover {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg); }
  #header p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center; }
  #header .fafa {
    width: 100%;
    text-align: center; }
    #header .fafa i {
      color: white; }

@media (max-width: 1366px) {
  #header button {
    padding: 10px 64px 10px 64px;
    margin-right: 20px;
    margin: 0px 20px 170px auto;
    display: block; }
    #header button a {
      font-size: 15px; }
  #header img {
    display: block;
    margin: 0px 0px 160px 0px; } }

@media (max-width: 768px) {
  #header button {
    padding: 10px 64px 10px 64px;
    margin-right: 20px;
    margin: 0px 20px 60px auto;
    display: block; }
    #header button a {
      font-size: 15px; }
  #header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white; }
  #header img {
    display: block;
    margin: 0px auto 20px auto; } }

#about {
  background-color: whitesmoke;
  padding: 50px 0px 50px 0px; }
  #about hr {
    width: 31%; }
  #about h2 {
    color: #2E556F;
    margin-bottom: 170px; }
  #about h3 {
    color: #2E556F;
    margin-bottom: 50px; }
  #about p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px; }
  #about img {
    margin: 17px; }
  #about .about-fl {
    position: absolute;
    top: 123%;
    right: 7%; }

@media (max-width: 1366px) {
  .about-fl {
    display: none; } }

@media (max-width: 1000px) {
  #about {
    text-align: center; }
    #about h2 {
      font-size: 30px;
      margin-bottom: 70px; }
    #about h3 {
      font-size: 30px;
      margin-bottom: 20px; }
    #about p {
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 15px; }
    #about img {
      display: none; } }

#portfolio {
  background: url(../img/bg2.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0px 50px 0px; }
  #portfolio hr {
    width: 37.5%; }
  #portfolio h2 {
    color: white;
    margin-bottom: 100px; }
  #portfolio .porto {
    margin-bottom: 50px; }
  #portfolio #window {
    padding: 30px; }
  #portfolio .window {
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease; }
  #portfolio img {
    margin-bottom: 20px; }
  #portfolio .port-p {
    font-style: italic;
    font-size: 18px;
    color: #00B9B9;
    margin-bottom: 40px; }
  #portfolio p {
    line-height: 1.6;
    color: white; }
  #portfolio button {
    background: rgba(255, 255, 255, 0);
    padding: 12px 50px 12px 50px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border: 1.5px solid #00B9B9; }
    #portfolio button a {
      font-size: 15px;
      font-weight: bold;
      color: white;
      text-decoration: none; }
    #portfolio button:hover {
      background: url(../img/button.png) no-repeat;
      -webkit-transition: 1.5s ease;
      -o-transition: 1.5s ease;
      transition: 1.5s ease; }

@media (max-width: 768px) {
  #portfolio {
    text-align: center; }
    #portfolio h2 {
      font-size: 30px;
      margin-bottom: 60px; }
    #portfolio p {
      font-size: 15px;
      line-height: 1.6; } }

#advisors {
  background-color: whitesmoke;
  padding: 50px 0px 0px 0px; }
  #advisors hr {
    width: 36.5%; }
  #advisors .row {
    margin-bottom: 30px; }
  #advisors h2 {
    color: #2E556F;
    margin-bottom: 80px; }
  #advisors img {
    border-radius: 50%; }
  #advisors h5 {
    font-size: 40px;
    color: #00B9B9; }
  #advisors ul {
    padding-left: 20px; }
    #advisors ul li {
      padding: 4px 0px 4px 0px;
      font-size: 17px; }
  #advisors .adv-bot {
    text-align: right; }
    #advisors .adv-bot h2 {
      margin-top: 18%; }

@media (max-width: 1200px) {
  #advisors {
    text-align: center; }
    #advisors h2 {
      font-size: 30px; }
    #advisors h5 {
      font-size: 30px; }
    #advisors li {
      list-style-type: none; }
    #advisors .adv-bot {
      text-align: center; } }

#investors {
  background: url(../img/bg3.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0px 90px 0px; }
  #investors hr {
    width: 36.5%; }
  #investors h2 {
    color: white;
    margin-bottom: 120px; }
  #investors p {
    font-size: 30px;
    color: #00B9B9; }
  #investors img {
    margin-bottom: 40px; }
    #investors img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: 0.7s ease;
      -o-transition: 0.7s ease;
      transition: 0.7s ease; }

@media (max-width: 768px) {
  #investors {
    text-align: center; }
    #investors h2 {
      font-size: 30px;
      margin-bottom: 60px; } }

#copyright {
  padding: 20px 0px 20px 0px;
  text-align: center;
  background-color: #00B9B9; }
  #copyright p {
    letter-spacing: 1px;
    font-size: 15px;
    color: white;
    margin-bottom: 0px; }

@media (max-width: 768px) {
  #copyright {
    padding: 10px 0px 10px 0px; }
    #copyright p {
      font-size: 10px; } }
