$text1-color:#2E556F;
$text2-color:white;
$text3-color:lightblue;
$f-family:FuturaStd CondensedBold;

#advisors{
	background-color:whitesmoke;
	padding:50px 0px 0px 0px;
	.row{
		margin-bottom:30px;
	}
	h2{
		font-weight:bold;
		font-size:35px;
		color:$text1-color;
		margin-bottom:80px;
	}
	img{
		border-radius:50%;
	}
	h5{	
		font-size:40px;
		color:$text3-color;
	}
	ul{
		padding-left:20px;
		li{
			padding:4px 0px 4px 0px;
			font-size:17px;
		}
	}
	.adv-bot{
		text-align:right;
		h2{
			margin-top:18%;
		}
	}
}
@media (max-width: 1200px){
	#advisors{
		text-align:center;
		li{
			list-style-type: none;
		}
		.adv-bot{
			text-align:center;
		}
	}
}

#investors{
	background: url(../img/bg3.jpg) no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:50px 0px 90px 0px;
	h2{
		font-weight:bold;
		font-size:40px;
		color:$text2-color;
		margin-bottom:110px;
	}
	p{
		font-size:30px;
		color:$text3-color;
	}
	img{
		margin-bottom:40px;
	}
}
@media (max-width: 768px){
	#investors{
		text-align:center;
	}
}

#copyright{
	padding:20px 0px 20px 0px;
	text-align:center;
	background-color:$text3-color;
	p{
		letter-spacing:1px;
		font-size:15px;
		color:$text2-color;
		margin-bottom:0px;
	}
}
@media (max-width: 768px){
	#copyright{
		p{
			font-size:15px;
		}
	}
}