$text1-color:#2E556F;
$text2-color:white;
$text3-color:#00B9B9;
$f-family:Tahoma, Geneva, sans-serif;

#header{
	background: url(../img/bg1.jpg) no-repeat; 
	-webkit-background-size: fixed;
	-moz-background-size: fixed;
	-o-background-size: fixed;
	background-size: fixed;
	padding:50px 0px 50px 0px;
	button{
		background: url(../img/button.png) no-repeat;
		padding:11px 58px 11px 58px;
		text-decoration:none;
		cursor:pointer;
		border:none;
		float:right;
		margin-bottom:300px;
		a{
			font-size:20px;
			font-weight:bold;
			color:white;
			text-decoration:none;
			letter-spacing:1px;
		}
	}
	h1{
		font-weight:bold;
		font-size:50px;
		color:white;
	}
	img{
		width: 75%;
    	height: auto;
    	margin-bottom:285px;
	}
	p{
		font-family:$f-family;
		font-size:20px;
		color:white;
		text-align:center;
	}
	.fafa{
		width:100%;
		text-align:center;
		i{
			color:white;
			.fa{
				font-size:30px;
			}
		}
	}
	
}
@media (max-width: 768px){
	#header{
		button{
			padding:14px 64px 15px 64px;
			margin-right:20px;
			margin:0px 20px 60px auto;
			display:block;
			a{
				font-size:15px;
			}
		}
		h1{
			text-align:center;
			font-weight:bold;
			font-size:35px;
			color:white;
		}
		img{
			display:block;
			margin: 0px auto 20px auto;
		}
	}
}

#advisors{
	background-color:whitesmoke;
	padding:50px 0px 0px 0px;
	.row{
		margin-bottom:30px;
	}
	h2{
		font-weight:bold;
		font-size:35px;
		color:$text1-color;
		margin-bottom:80px;
	}
	img{
		border-radius:50%;
	}
	h5{	
		font-size:40px;
		color:$text3-color;
	}
	ul{
		padding-left:20px;
		li{
			padding:4px 0px 4px 0px;
			font-size:17px;
		}
	}
	.adv-bot{
		text-align:right;
		h2{
			margin-top:18%;
		}
	}
}
@media (max-width: 1200px){
	#advisors{
		text-align:center;
		li{
			list-style-type: none;
		}
		.adv-bot{
			text-align:center;
		}
	}
}

#investors{
	background: url(../img/bg3.jpg) no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:50px 0px 90px 0px;
	h2{
		font-weight:bold;
		font-size:40px;
		color:$text2-color;
		margin-bottom:120px;
	}
	p{
		font-size:30px;
		color:$text3-color;
	}
	img{
		margin-bottom:40px;
	}
}
@media (max-width: 768px){
	#investors{
		text-align:center;
	}
}

#copyright{
	padding:20px 0px 20px 0px;
	text-align:center;
	background-color:$text3-color;
	p{
		letter-spacing:1px;
		font-size:15px;
		color:$text2-color;
		margin-bottom:0px;
	}
}
@media (max-width: 768px){
	#copyright{
		p{
			font-size:15px;
		}
	}
}